.main-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
img.banner-image {
    max-width: 100%;
}
.weather-forecast__container {
    overflow: hidden;
}
.weather-forecast__cell {
    background-color: #46577a;
    margin-bottom: 22px;
    color: #afc0a1;
}
.weather-forecast__date {
    padding-top: 15px;
}
.weather-forecast__description {
    display: inline-block;
    line-height: 50px;
    padding-right: 18px;
    padding-bottom: 10px
}
.weather-forecast__description > img {
    float: left;
    height: 50px;
}
.weather-forecast__loading {
    margin-bottom: 15px;
}
@media (min-width: 822px) {
    .main-container {
        width: 822px;
    }
    .weather-forecast__cell {
        width: 400px;
        float: left;
    }
    .weather-forecast__cell:nth-child(odd) {
        margin-right: 22px;
    }
}
@media (min-width: 1200px) {
    .main-container {
        width: 1200px;
    }
    .weather-forecast__slider {
        width: 4866px;
        height: 120px;
        position: relative;
    }
    .weather-forecast__cell {
        width: 1200px;
        height: 120px;
    }
    .weather-forecast__cell:nth-child(odd) {
        margin-right: 0px;
    }
    .weather-forecast__date {
        padding-top: 25px;
        padding-bottom: 10px;
    }
}